# Datasets / modelos / outputs
data/
datasets/
checkpoints/
outputs/
runs/
wandb/
models/
pondernet/results/
pondernet/features/

# Entornos virtuales
.venv/

# Python
__pycache__/
*.pyc

# Secrets
.env

# macOS
.DS_Store
